<% if ActiveRecord::Type::Boolean.new.cast(params[:skip_animation]) %>
<style>
input.modal_window-trigger {
  display: none;
}
input.modal_window-trigger:not(:checked) + .modal_window-overlay {
  display: none;
}
</style>
<% end %>

<h1>Test ModalWindow</h1>

<%= event_button("modal_window:open", for: "foobar-trigger") %>

<div style="height: 1500px;"></div>

<%= modal_window("foobar") do %>
  <%= event_button("modal_window:close", for: "foobar-trigger") %>
  <div class="shobon">(´･ω･｀)</div>
<% end %>
