.modal_window-overlay {
  display: flex;
  justify-content: center;
  overflow: auto;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);

  & > label {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  & > .modal_window-window {
    position: relative;
    align-self: center;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    background: #ffffff;
  }
}
