input.modal_window-trigger {
  display: none;

  // 閉じた状態
  &:not(:checked) + .modal_window-overlay {
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.5s, transform 0s 0.5s;
  }
  // 開いた状態
  &:checked + .modal_window-overlay {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s;
  }
}
